@font-face {
    font-family:'Young Serif' ;
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    

}

@font-face {
    font-family:'Outfit' ;
    src: url("../fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
}

